<app-header></app-header>

<div class="black">
    <div class="container">
        <h2 class="home">UN ÚNICO PAGO PARA TUS FIESTAS DEL MES</h2>
        <div class="row main">
            <div class="col">
                <div class="col-left">
                    <h3 class="home">Fácil y Sencillo</h3>
                    <p class="content">Registrate para acceder a distintos bares
                        y discotecas de la ciudad al mes con el pago
                        de un único COVER para todas tus salidas.
                    </p>
                </div>
            </div>
            <div class="col">
                <div class="col-right">
                    <h3 class="home">Cancela en cualquier momento</h3>
                    <p class="content">
                        Sin clausulas de permanencia,
                        haz uso de nuestro servicios cuando quieras.
                    </p>
                </div>
            </div>
        </div>

        <div class="home-button">
            <button class="btn btn-unete" routerLink="/register" >ÚNETE AHORA</button>
        </div>
    </div>
</div>