.login {
    background-color: #000;
    margin: auto;
    padding: 20px 35px 20px 35px;
    width: 30%;
    color: #FFF;

}

.fondo {
    background-image: url('../../../assets/images/home.jpg');
    padding-bottom: 300px;
    background-attachment: fixed;
}

h1 {
    font-family: "Monoton";
    font-size: 100px;
    color: #FFF;
}

.btn-unete {
    background-color: #CE0D4D;
    color: #FFF;
}

.margin {
    margin-bottom: 150px;
}