.login {
    background-color: #000;
    margin: auto;
    padding: 20px 35px 20px 35px;
    width: 30%;
}

.fondo {
    background-image: url('../../../assets/images/home.jpg');
    padding-bottom: 300px;
    background-position: center;   
}

h1 {
    font-family: "Monoton";
    font-size: 100px;
    color: #FFF;
}