<div class="fondo">

    <div class="container">
        <div class="row">
            <div class="col-sm-9"></div>
            <div class="col-sm-3">
                <div class="row">
                    <div class="col-sm-2">
                        <img src="../../../assets/images/twitter.png" alt="" srcset="">
                    </div>
                    <div class="col-sm-2">
                        <img src="../../../assets/images/instagram_1.png" alt="" srcset="">
                    </div>
                    <div class="col-sm-2">
                        <img src="../../../assets/images/facebook.png" alt="" srcset="">
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-6">
                <h1>MITSKY</h1>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="login">
            <form>
                <div class="form-group">
                    <label for="exampleInputEmail1">E-mail</label>
                    <input type="email" class="form-control" aria-describedby="emailHelp"  [(ngModel)]="email" name="email" required>

                </div>

                <div class="form-group margin">
                    <label for="exampleInputPassword1">Contraseña</label>
                    <input type="password" class="form-control" id="exampleInputPassword1"  [(ngModel)]="password" name="password" required>
                </div>

                <button type="submit" class="btn btn-unete btn-block" (click)="loginUser(email, password)">Inicar
                    Sesión</button>
            </form>
        </div>
    </div>

</div>